label, input {
  margin: 5px;
}

label {
  font-weight: bold;
}

details {
  margin: 10px;
  border: 2px solid;
  border-radius: 10px;
  display: inline-block;
}

summary {
  font-weight: bold;
  padding: 10px;
}

details[open] summary {
  border-bottom: 2px solid;
}

table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

td {
  border: 2px solid black;
}

tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

tr td:first-child {
  border-left: none;
}

tr td:last-child {
  border-right: none;
}

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  border-top: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer a {
  margin: 20px;
}