:root, html, input, button {
    font-family: Arial, sans-serif;
}

body > div {
    margin-bottom: 70px;
}

button, ::file-selector-button {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

::file-selector-button {
    height: 50px;
    margin-right: 20px;
}

input[type='file'] {
    font-size: large;
    width: 350px;
    height: 60px;
}

table input[type='number'],
table input[type='text'] {
    margin: 0;
    border: none;
    display: flex;
    width: 100%;
    height: 25px;
    background-color: transparent;
    padding: 2px;
}

label {
    font-weight: bold;
    margin: 5px;
}

details {
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
    display: inline-block;
}

details > summary {
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

details > summary::marker {
    content: '\2b9e\00A0';
}

details[open] > summary {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

details[open] > summary::marker {
    content: '\2b9f\00A0';
}

table {
    border-collapse: collapse;
    border: none;
    width: 100%;
}

td {
    padding: 0;
    padding-right: 4px;
    border: 2px solid black;
}

tr:last-child td {
    border-bottom: none;
}

tr td:first-child {
    border-left: none;
    padding: 5px;
}

tr td:last-child {
    border-right: none;
}

tr:last-child td:last-child input {
    border-radius: 1px;
    border-bottom-right-radius: 8px;
}

footer {
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: center;
    border-top: 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

footer a {
    margin: 10px 20px;
}

footer img {
    flex-shrink: .5;
    min-width: 48px;
    max-height: 96px;
}

footer div {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    height: 50px;
    min-width: 120px;
    display: flex;
    align-items: center;
}

button img {
    margin-right: 5px; /* Adjust spacing between the icon and text */
}

button span {
    vertical-align: middle; /* Ensures text aligns with the icon */
}

div.file-ui > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div.file-ui > span {
    display: block;
}

details.main-stats {
    min-width: 224px;
}

details.player-stats {
    min-width: 327px;
}